body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.cal-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cal header */
.cal-header {
    border-bottom: 2px solid #ddd;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0 10px 5px 10px;
}

.branding {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    font-size: 0.8rem;
}

select {
    padding: 5px;
    font-size: 13px;
    border: 0px solid #ddd;
}

.resetBtn {
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Cal main */
.cal-valuation {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.guide-container {
    text-align: center;
}

.input-container {
    border: 1px solid #0044ff;
    padding: 10px;
}

.output-container {
    border: 1px solid #ff0000;
    padding: 10px;
}

/* Footer */
.cal-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

/* General Form Styles */

/* Method-Specific Themes */